.main {
  position: absolute;
  bottom: 50px;
  margin: 0.5rem;
  width: 375px;
  height: 175px;
  border-radius: 7px 7px 0px 0px;
  color: rgb(0, 0, 0);
  font-family: Tahoma;
  border: #0056e4 solid 1px;
  z-index: 1;

  .titleBarTitle {
    border-radius: 7px 7px 0px 0px;
    text-shadow: 1px 1px #10397e;
    font-size: 0.9rem;
    height: 20px;
    width: 100%;
    color: white;
    background: linear-gradient(
      to bottom,
      #4094ff 0%,
      #0056e4 13%,
      #0056e4 71%,
      #16428b 100%
    );
    p {
      margin: 0px;
      margin-left: 10px;
      width: 100px;
    }
  }
  .titleBarClose {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    right: 5px;
    border-radius: 2px;
    border: 1px solid white;
    background: linear-gradient(135deg, #f1a689 0%, #c0442a 50%, #c2311e 100%);

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: white;
      border-radius: 2px;
      top: 4px;
      box-shadow: 0 0 2px 0 #ccc;
    }

    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 1px;
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 1px;
    }
  }

  .inp {
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    p {
      padding: 0px;
      margin: 0px;

      span {
        text-decoration: underline;
      }
    }
    input {
      font-size: 0.8rem;
      width: 70%;
      text-align: right;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 231, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 90%;

      img {
        width: 55px;
        height: 55px;
      }
      p {
        margin: 0px;
        padding: 0px;
        font-size: 0.8rem;
      }
    }
    .btn {
      button {
        margin: 3px;
        font-size: 0.7rem;
      }
      button:nth-child(1) {
        margin-left: 100px;
      }
    }
  }
}
